h1 {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}

td,
th {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 20%;
}

img {
  max-width: 180px;
}

#footer {
  margin-top: 10px;
}

#footer div {
  text-align: center;
}

#mainSectionContainer {
  display: flex;
}
#messageBoardContainer {
  margin-left: 10px;
  background-color: beige;
}

#messageBoard {
  padding: 10px;
}

#messsageInput {
  height: 100px;
}

.bolder {
  color: green;
  font-weight: bolder;
}

.hidden {
  display: none;
}

#imageToggleButton {
  width: 150px;
}

.price {
}
